/* app.css */
.App {
  text-align: center;
}

/* Update the color for the logo text to match the navbar */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: ivory; /* Match the logo text color with the navbar */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Update the background color to match the navbar */
.App-header {
  background-color: eggshell; /* Match the background color with the navbar */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333; /* Dark grey text color */
}

/* Update the link color to match the navbar */
.App-link {
  color: ivory; /* Match the link text color with the navbar */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
